// Variables
$profile-card-primary: hsl(185, 75%, 39%);
$profile-card-secondary: hsl(229, 23%, 23%);
$profile-card-tertiary: hsl(227, 10%, 46%);
$profile-card-neutral: hsl(0, 0%, 59%);

$base-font-size: 18px;
$font-primary: "Kumbh Sans", sans-serif;
$weight-normal: 400;
$weight-bold: 700;

// Base Styles
html {
  font-size: $base-font-size;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $profile-card-primary;
  height: 100%;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  font-family: $font-primary;
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  &::before,
  &::after {
    content: "";
    height: 100vh;
    background-size: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100vw;
    z-index: -1;
  }

  &::before {
    top: 0;
    left: 0;
    background: url("../images/bg-pattern-top.svg") no-repeat bottom right;
  }

  &::after {
    top: 100%;
    left: 100%;
    background: url("../images/bg-pattern-bottom.svg") no-repeat top left;
  }
}

.wrapper__main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.profile-card {
  background: #fff;
  border-radius: 1rem;
  position: relative;
  width: 100%;
  max-width: 20rem;
  box-shadow: 0 4rem 4rem -2rem darken($profile-card-primary, 9);
}

.profile-card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  padding-top: 8rem;
  color: $profile-card-tertiary;

  &:before {
    content: "";
    position: absolute;
    left: 0%;
    top: 0;
    width: 100%;
    height: 8rem;
    background: url("../images/bg-pattern-card.svg") no-repeat center;
    background-size: auto;
    background-size: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}

.profile-card__avi {
  border: 0.3rem solid #fff;
  border-radius: 50%;
  margin-top: -2.8rem;
  z-index: 1;
}

.profile-card__title {
  margin-top: 1.5rem;
}

.profile-card__name,
.profile-card__age {
  display: inline-block;
  font-size: 1rem;
}

.profile-card__name {
  font-weight: $weight-bold;
  color: $profile-card-secondary;
}

.profile-card__age {
  margin-top: 1rem;
  font-weight: $weight-normal;
}

.profile-card__location {
  font-size: 0.8rem;
  margin-top: 0.7rem;
  margin-bottom: 0.4rem;
}

.profile-card__stats {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  flex-wrap: wrap;
  list-style: none;
  padding: 2rem 1rem;

  // top border
  &::before {
    content: "";
    height: 1px;
    background: $profile-card-neutral;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
}

.profile-card__stats-item {
  color: $profile-card-neutral;
  text-align: center;
}

.profile-card__stat-number {
  display: block;
  font-size: 1rem;
  font-weight: $weight-bold;
  color: $profile-card-secondary;
}

.profile-card__stat-meta {
  display: block;
  font-size: 0.8rem;
  margin-top: 0.4rem;
  letter-spacing: 2px;
}

.footer {
  font-size: 0.8rem;
  text-align: center;
  padding: 1rem;
}
